<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Idea Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const url = new URL(window.location.href);
        const urlParams = url.searchParams;

        let postId = urlParams.get('id');
        let sendUrl = "http://localhost:8080/api/ideas/" + postId;

        $(document).ready(function() {

            $.ajax({
                url: sendUrl, // 백엔드 API URL
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    // data는 IdeaListResponse 객체를 담고 있을 것입니다.
                    // 이를 활용하여 프론트엔드에 내용을 뿌려줍니다.
                    $('#ideaTitle').text(data.title);
                    $('#ideaContent').text(data.content);
                    $('#ideaImage').attr('src', data.imageUrl);
                    $('#ideaWriter').text(data.writer);
                    $('#ideaCategory').text(data.status);  // Category 정보가 없어서 일단 status로 대체
                    $('#ideaMinimumStartingPrice').text(data.minimumStartingPrice);
                    $('#ideaAuctionStatus').text(data.status);
                    $('#ideaDealStatus').text(data.BidWinPrice === null ? 'Pending' : 'Completed');  // BidWinPrice가 null이면 Pending
                },
                error: function(err) {
                    // 에러 처리
                    console.error('게시글을 불러오는 데 실패했습니다:', err);
                }
            });
        });
        // const eventSource = new EventSource("http://localhost:8081/api/sse/connect/idea/1")
        // eventSource.addEventListener("BID_PRICE_UPDATE", function(e){
        //     const p = document.createElement("p")
        //     p.innerText = e.data
        //
        //     document.getElementById("messages").appendChild(p)
        // })
    </script>
</head>

<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h1 id="ideaTitle" class="display-4"></h1>
            <p id="ideaContent"></p>
        </div>
        <div class="col-md-4">
            <img id="ideaImage" src="" alt="Idea image" class="img-fluid rounded">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <p><strong>Writer:</strong> <span id="ideaWriter"></span></p>
            <p><strong>Category:</strong> <span id="ideaCategory"></span></p>
            <p><strong>Minimum Starting Price:</strong> <span id="ideaMinimumStartingPrice"></span></p>
            <p><strong>Auction Status:</strong> <span id="ideaAuctionStatus"></span></p>
            <p><strong>Deal Status:</strong> <span id="ideaDealStatus"></span></p>
        </div>
    </div>
</div>
</body>
</html>